	@media screen and (min-width: 764px ) {

.clear{
	clear: 			both;
	display: 		block;
	overflow: 		hidden;
	visibility: 	hidden;
	width: 			0;
	height: 		0;
}


body{
	margin:			0;
	padding:		0;
	background:		#5A3500 url(../images/fon_body.jpg);
	font-family:	'Agopus';


}

img{
	max-width: 		100%;
	display:		inline;


}

.vnachalo-knopka{
	display:		none;
}

@font-face {
        font-family: 'CyrillicOld';
        src: url('../fonts/CyrillicOld/CyrillicOld.eot');
        src: local('☺'), url('../fonts/CyrillicOld/CyrillicOld.woff') format('woff'), url('../fonts/CyrillicOld/CyrillicOld.ttf') format('truetype'), url('../fonts/CyrillicOld/CyrillicOld.svg') format('svg');
        font-weight: normal;
        font-style: normal;
}

.h1-center{
	text-align:		center;
}


.mobile{
	display:		none;
}

.snap-drawers{
	display: none !important;
}

.instagram{
	float: left;
	margin: 3px 2px 0 0;
}
 
.like{
	margin-left:	6px;
}

#vk_like{
	margin-bottom:		4px;
}

div.main_wrapper table + p.zagolovok a,.zagolovok a{
	color:			#85010F;
	font-size:		16px;
}

p.zagolovok1 a{
	color:			#85010F;
	font-size:		20px;
	
}

p.zagolovok1{
	text-align:		center;
}


p + h2.red{
	margin-top:		45px;
}

div.menu + h1{
	text-align:		center;
}

p img{
	text-align:		center;
}

td p{
	text-align:		center;
}

p.pair_img_container a.highslide{
	display:		block;
}

.right h2{
	text-align:		center;
}

.noclear{
	clear:			none;
}

.main h3{
	margin: 		9px 0 0 0;
    text-align:     left;
}

.icon_works{
	float:			left;
	width:			24%;
}


.icon_works_wedding{
	width:			32%;
	float:			left;
}

.icon_works b,.icon_works_wedding b{
	display:		inline-block;
	height:			88px;
	margin-top:		45px;
}

.main1{
	display:		none !important;
}


.wrapper{
	margin: 		0 auto;
	max-width: 		1320px;
	min-width:		1200px;
}

.container{
	min-height:		1245px;
	width: 			1265px;
	margin:			0 auto;

}

.cal_elt{
	float:			left;
	width:			10%;
}

.head{
	/*background:		url(../images/head_fon.gif) top center repeat-x;*/
	-webkit-background-size: 100% ; /* Для хрома */
	-moz-background-size:	100% ;  /* Для лисы*/
	-o-background-size: 100% ;  /* Для оперы*/
	-ms-background-size: 100% ;  /* Для ИЭ*/
	background-size: 100% ;  /* Для закрипления*/

}

.logo{
	width: 			450px;
	float:			left;
}

.logo img{
	width:			100%;
}


.krimsk{
	max-width:		100px;
}


td.month-name{
	white-space:	nowrap;
}

.cont{
	float:			left;
	width: 			810px;
	padding-top:	1%;
	position:		relative;
}

.contct{
	width: 			400px;
    float: 			left;
}


.contct > a{
	color:			#CD862F;
	text-shadow: 	1px 1px 2px black;
}

.cont p,.cont span{
	font-family: 	'Agopus'sans-serif;
	text-align:		center;
	color:			#CD862F;
	text-shadow: 	1px 1px 2px black;
	width:			100%;
	display:		inline-block;
	line-height:	74%;

}

.cont p a{
	color:			#CD862F;	
	font-family: 	'Agopus'sans-serif;
}

.cont input{
	background:		#C2A466;
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 	3px;
    border:			none;
    width:			100%;
    box-shadow: 	inset 1px 1px 0 0px #55482D;
    height:			1.4em;
    font-family: 	'Agopus';
	padding: 		1px 4px;
}

.cont input:focus{
	border:			none;
}

.cont span a{
	color: 			#CD862F;
	text-decoration:none;
}


.center h3 a{
	font-size:		17px;
}


.char{
	color: 			#220400;
	text-decoration: none;
	font-size: 		30px;
	margin-right:	1%;
}


.main_wrapper ul li a{
	color:			#220400;
}

.main_wrapper ul li a:visited{
	color:			rgb(85, 26, 139);;
}

.menu_main li:after{
	content:		none;
	overflow:		hidden;
}

.main_wrapper ol li a{
	color:			#220400;
}

#mailing{
	font-family: 	'CyrillicOld', serif;
	color:			 #85010F;
	margin: 		9% 0 0 9%;

}

h2 + .find_saint_form{
	margin-top:		10px;
}

.find_saint_form{
	width:			330px;
	padding:		10px;
	border-radius:	5px;
	box-shadow:		0px 0px 5px;
}

.widgets_block .user_name,.widgets_block .user_month,.widgets_block .user_day{
	border-radius: 	7px;
	background: 	#E7E7E7;
	font-family: 	'Agopus';
	padding: 		3px;
	margin-left: 	5px;
}

.widgets_block .label{
	width:			133px;
}

.widgets_block .btn{
	display: inline-block;
	height: 30px;
	font-weight: bold;
}

.search{
	width: 			300px;
	margin: 		0 auto;
	padding-top: 	4%;
	float:			right;
	padding-right:	65px;
}

.lup{
	position: 		absolute;
	right: 			1%;
	bottom: 		5%;
}


.back{
	float:			left;
	width:			25px;
}
.print{
	float:			right;
	width:			25px;
}

.buttons{
	width: 			59px;
	height: 		1.4em;
	float: 			right;
	padding-top: 	3%;
	padding-right: 	6%;
	padding-bottom: 1%;
}



.main_block{
	-webkit-background-size: 100% 100%; /* Для хрома */
	-moz-background-size:	100% 100%;  /* Для лисы*/
	-o-background-size: 100% 100%;  /* Для оперы*/
	-ms-background-size: 100% 100%;  /* Для ИЭ*/
	background-size: 100% 100%;  /* Для закрипления*/
	min-height:		1245px;
	margin:			0 auto;
	background:		#CDAD66 url(../images/f.gif) repeat;
	position:		relative;
	box-shadow: 	0 0 30px rgba(0,0,0,0.5);


} 
.main_block:after{
	clear:both;
	content:'';
	display:block;
}

h1{
	padding-top: 	15px;
	padding-bottom: 15px;
	padding-left: 	5px;
	clear: 			both;
	text-align: 	left;
}

.fullix{
	padding: 		0px;
	margin: 		0px;
}

td{
	vertical-align: top;
	text-align: 	left;
}


pre{
	display: 		block;
	font-family: 	monospace;
	white-space: 	pre;
	margin:			0;
}



img{
	margin: 		10px;
	display:		inline-block;
}

img.center{
	padding:		0 1%;
}

p{
	margin: 		5px 0px;
	text-align: 	justify;
	font-size:		16px;
}

h1,h2,h3,h4,h5,h6{
	font-family:	'CyrillicOld', serif;
	color:			#85010F;

}


.alphabet-ol li{
	margin-bottom:	10px;
}

.alphabet-ol + ul h3{
	margin:			20px 0;
}


.fullx h2 a{
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
	font-size: 		21px;

}

p, h1, h2, h3, h4, h5, h6, ul, ol, li {
	clear: 			both;

}

ol{
	list-style:		none;
}

h1 a,h2 a,h3 a,h4 a,h5 a, span a{
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
	text-decoration:none;

}

.noclear span{
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
}

p a,.fullx a{
	color:   		#220400;
	font-weight:	bold;
}

.center{
	text-align:		center;
}

.fullx{
	width:			100%;
}

.cont_wrapp{
	background:		none;
	min-height:		800px;
}

.top{
	position:		absolute;
	top:			0;
	width:			100%;
	height:			42px;
	background:		url(../images/3.gif) top center repeat-x;
}

.left1{
	position:		absolute;
	top:			0;
	width:			5%;
	height:			100%;
	background:		url(../images/4.gif) left center repeat-y;
}

.bottom{
	position:		absolute;
	bottom:			0;
	width:			100%;
	height:			0.4%;
	min-height: 	42px;
	background:		url(../images/bb.gif) bottom center repeat-x;

}

.right1{
	position:		absolute;
	top:			0;
	right:			0;
	width:			3.4%;
	height:			100%;
	background:		url(../images/5.gif) right center repeat-y;
}




.nav{
	width:			80%;
	min-height: 	43px;
	padding-top: 	4%;
	position:		relative;
	margin:			0 auto;
	-webkit-background-size: 100% 100%; /* Для хрома */
	-moz-background-size:	100% 100%;  /* Для лисы*/
	-o-background-size: 100% 100%;  /* Для оперы*/
	-ms-background-size: 100% 100%;  /* Для ИЭ*/
	background-size: 100% 100%;  /* Для закрипления*/
}

.l{
	width:			4%;
	position: 		absolute;
	height:			95px;
	-webkit-background-size: 100% 100%; /* Для хрома */
	-moz-background-size:	100% 100%;  /* Для лисы*/
	-o-background-size: 100% 100%;  /* Для оперы*/
	-ms-background-size: 100% 100%;  /* Для ИЭ*/
	background-size: 100% 100%;  /* Для закрипления*/
	background:		url(../images/2.gif) no-repeat;
	z-index:		10;
}

.r{
	width:			5.23em;
	position:		absolute;
	right:			0;
	top:			0;
	height:			95px;
	-webkit-background-size: 100% 100%; /* Для хрома */
	-moz-background-size:	100% 100%;  /* Для лисы*/
	-o-background-size: 100% 100%;  /* Для оперы*/
	-ms-background-size: 100% 100%;  /* Для ИЭ*/
	background-size: 100% 100%;  /* Для закрипления*/
	background:		url(../images/1.gif) no-repeat;
	z-index:		10;
}

.left_part{
	height:			36px;
	width: 			9.8%;
	position: 		absolute;
	bottom: 		0;
	float:			left;


}
.right_part{
	float:			right;
	height:			36px;
	width: 			9.8%;
	position:		absolute;
	right:			0;
	bottom:			0;
	z-index:		9;
}





.nav_center{
	width: 			89%;
	margin:			0 auto;
	height:			43%;
	background:		url(../images/menu-main.png) no-repeat;
	-webkit-background-size: 100% 100%; /* Для хрома */
	-moz-background-size: 100% 100%;  /* Для лисы*/
	-o-background-size: 100% 100%;  /* Для оперы*/
	-ms-background-size: 100% 100%;  /* Для ИЭ*/
	background-size: 100% 100%;  /* Для закрипления*/
	position: 		absolute;
	right: 			5.6%;
	z-index: 		10;
}

.menu_main{
	list-style:		none;
	padding:		0;
	margin:			0 auto;
	height: 		100%;
	text-align:		justify;
	-ms-text-justify: distribute;
	max-width: 		770px;
	z-index:		11;


}

.menu_main:after{
	width: 			100%;
	height: 		0;
	visibility: 	hidden;
	overflow: 		hidden;
	content: 		"";
	display: 		inline-block;
}



.menu_main li{
	line-height:	213%;
	letter-spacing: normal;
	display:		inline-block;
	position:		relative;


}

.menu_main li a{
	color:			#E4C479;
	text-decoration:none;
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 	3px;
    max-height:		20px;
    font-size: 		16px;
    padding:		2px;
	font-family: 	'Agopus'sans-serif;
}

.menu_main li a:hover{
	background:		#BA6306;
	color:			#1E0B00;	
}

.soc_seti{
	padding-left:	15px;
	overflow: hidden;
}

.left_side{
	float: 			left;
	width: 			19.5%;
	padding-left: 	3%;
	min-height: 	850px;
	background:		url(../images/4.gif) left center repeat-y;
}

.left_side h4{
	text-align:		center;
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
	margin: 		15px 0 10px 0;
	font-size: 		21px;
}

.jajc-calendar-white + script + h4{
	display:		none;
}

div.main_block div.cont_wrapp div.jajc-container{
	margin-bottom:	30px;
}

.sidebar{
	list-style:		none;
	padding-left:	8%;
	margin:			0;
}

.sidebar li{
	width:			100%;
	max-width:		90%;
}

.sidebar li a{
	text-decoration:none;
	color:			#220400;
	padding: 		2px;
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width:			100%;
    display:		block;
    font-family: 	'Agopus'sans-serif;
	font-size: 		17px;
	border-bottom:	1px solid #B6985B;
	border-top:		1px solid #D5BA7C;
	position:		relative;
	z-index:		10;
}

.sidebar li a:hover{
	background:		#BA6306;
}



.sidebar li.sub{
	background:		#E6C57B;
	width: 			88%;
	margin-left: 	3%;
}

.sidebar li.sub a:hover{
	background:		none;
	text-decoration:underline;
}

.sidebar li.sub a{
	border-top:		1px solid #D5BA7C;
	padding-left: 	4%;
	width:			95%;
}

.sub1,.sub2{
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

}






.main_wrapper{
	min-height: 	1080px;
}

 
.main{
	width:			69.5%;
	float:			left;
	padding: 		1% 2.1% 0 2.9%;
	padding-bottom: 2.3%;
	background:		url(../images/figure_left.png) left center repeat-y;
	position:		relative;

}

.main h2{
	margin: 		9px 0 0 0;
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
	text-align:		center;
}

.main p{
	margin:			15px 0 12px 0;
	font-family:	'Agopus' sans-serif;
	font-size:		16px;
	line-height:	140%;
}

.img1{
	float:			left;
	width:			48.5%;

}

.img2{
	width:			47%;
	float:			right;
}

.patriarx{
	min-height: 	220px;
	background:		url(../images/figure_top.png) bottom center no-repeat;
}


.inst{
	position:		relative;
}

.inst img{
	position:		absolute;
	right: 131px;
	top: -24px;
	z-index:		1111111;
}

.icons h5{
	text-align:		center;
	display:		block;
}

.icons h5{
	margin: 		10px 0;
	font-size: 		24px;
	color:			#85010F;
	font-family:	'CyrillicOld', serif;
}

.icon1,.icon2,.icon3,.icon4,.icon5,.icon6{
	width:			33%;
	margin-bottom: 	2%;

}
a.float-left{
	float:			left;
}




.icon1,.icon2,.icon4,.icon5{
	float:			left;
	margin-bottom: 	2%;
}

.icon3,.icon6{
	float:			right;
}

.icon_wrapper{
	width: 			62.5%;
	margin:			0 auto;
	margin-bottom: 	2%;
}

.icon_href{
	text-decoration:none;
	color:			#230700;
	text-align: 	center;
	display: 		block;
	font-family:	'Agopus';
	font-size: 		14px;
}





.right_side{
	padding-right:	3%;
	float:			right;
	background:		url(../images/5.gif) right center repeat-y;
	min-height:		850px;
}


.news{
	width:			62%;
	margin:			0 auto;
	padding-top: 	10%;
}

.topic{
	background:		url(../images/element.png) no-repeat;
	-webkit-background-size: 100% 100%; /* Для хрома */
	-moz-background-size:	100% 100%;  /* Для лисы*/
	-o-background-size: 100% 100%;  /* Для оперы*/
	-ms-background-size: 100% 100%;  /* Для ИЭ*/
	background-size: 100% 100%;  /* Для закрипления*/
	width:			86%;
	height:			32px;
	margin:			0 auto;
	position: 		relative;
	bottom: 		7px;
}

.today{
	padding-right: 	6%;
}

.topic p{
	margin:			0;
	font-size:		13px;
	padding-top:	4.5%;
	text-align:		center;
	font-family:	'CyrillicOld', serif;
	color:			#85010F;
}



.calendar{
	margin-top: 	10%;
	height:			180px;
	width:			92%;
}


.promo{
	margin-top: 	14%;
	width: 			92%;
	height: 		360px;
	background:		#E6C57B;
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.foot{
	background:		url(../images/figure_bottom.png) 80% 5% no-repeat;
	min-height: 	20px;
	padding-top: 	2%;
	min-height:     252px;

}


.map{
	width:			27%;
	float:			left;
	min-height:		100px;
}

.contacts{
	width:			50%;
	float:			left;
	min-height:		100px;
	font-size:		15px;
}

.con_left_inner{
	padding-left: 	18%;
}


.contacts_head{
	margin-top: 	3%;
}

.contacts_head p{
	margin: 		0 auto;
	text-align: 	center;
	line-height: 	14px;
	font-size: 		13px;
	font-family: 	Agopus;
	line-height: 60%;
}

.con_left{
	width:			50%;
	float:			left;
}

.con_left p{
	margin:			5% 0 5% 0;
}

.con_right{
	width:			50%;
	float:			right;
}

.con_right_inner{
	padding: 		0 10%;
}

.con_left_inner span{
	line-height:	70%;
	display:		block;
}

.con_right_inner p{
	margin:			5% 0 0 0;

}

.map_innner{
	width: 			86%;
	padding: 		5% 0 0 20%;
}

.other{
	width:			19%;
	padding-right:	4%;
	float:			right;
	margin-top: 	1.5%;
	text-align: 	right;	
}

.fbvk a{
	display: block;
}

.visa,.mcard,.fb,.vk,.counter{
	margin:			0 auto;
}

.visa_mcard{
	display:		inline-block;
	width:			30%;
}

.visa img,.mcard img{
	max-width:		100%;
	width:			100%;
}

.visa{
	float:			left;
	width:			50%;
	padding-bottom: 3%;
}
.mcard{
	float:			right;
	width:			50%;
}

.fb,.vk{
	width: 			57%;
	padding-bottom: 2%;
	margin:			0 auto;
	text-align: 	center;
}

#social-buttons a{
	display:		block;

}

#social-buttons{
	padding: 		4% 0 0 9%;

}

.vk{
	x-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}



.lb{
	position: 		absolute;
	bottom:			0;
	width: 			5.6%;
	height: 		65px;
	background:		url(../images/lb.gif) no-repeat;
	z-index:		10;
}


.rb{
	position: 		absolute;
	bottom: 		0;
	right:			0;
	width: 			68px;
	height: 		65px;
	background:		url(../images/rb.gif) no-repeat;
	z-index:		10;
}


div.cal_elt a{
	width:			57%;
}


.footer {
	height:			150px;
}

@font-face {
	font-family:	'Agopus';
    src:			url(../fonts/agopus1.ttf);
}


    .find_saint_form .widgets_block {
        margin: 10px 0 10px 0;
    }

    .find_saint_form .label {
        display: inline-block;
    }



div.cal .menu{
	height:			115px;
}


}









div.icona_vpodarok1{

	width:				100%;
	overflow:			hidden;
}

div.icona_vpodarok1 ul.vpodarok_menu{
	float:				left;
	margin:				0 0 0 20px;
	padding:			0;
}

div.icona_vpodarok1 ul.vpodarok_menu li{
	list-style:			none;
	border-radius:		7px;
	margin:				8px;
	display:			inline-block;


}

div.icona_vpodarok1 ul.vpodarok_menu li a{
	text-decoration:	none;
	color:				#D9AD5F;
	background:			url(../images/menu.png) no-repeat;
	background-size:	100% 100%;
	padding:			8px 15px;
	border-radius:		7px;
	width:				235px;
	display:			inline-block;
	text-align:			center;
	font-size:			17px;

}

div.vpodarok_menu_wrapper1 ul.vpodarok_menu li a{
	width:				150px;
}

div.vpodarok_menu_wrapper3 ul.vpodarok_menu li a{
	width:				140px;
}

.icona_vpodarok1 > div{
	float:				left;
	width:				24%;
}

div.icona_vpodarok1 div.vpodarok_menu_wrapper2{
	width:				33.6%;
}



.icona_vpodarok2 h1,.icona_vpodarok2 h2{
	text-align:			center;
}


.icona_vpodarok2 p{
	position:			relative;
}

.vlist1,.vlist2,.vlist3,.vlist4,.vlist5,.vlist6,.vlist7{
	padding-left:		50px;
}

.vlist1{
	padding-top:		40px;
	border-bottom:		1px solid #D38C32;
	overflow:			hidden;
	padding-bottom:		30px;
}
.border{
	border-top:			1px solid #ECC988;
	height:				1px;
}

.vlist1_right{
	float:				right;
	width:				400px;
}

.vlist1 p{
	float:				left;
	width:				44%;
	margin:				0;
	position:			relative;
}

.icona_vpodarok2 span,.vlist7 p span{
	position:			absolute;
	left: 				-39px;
	top:				-6px;
	display: 			block;
	background:			url(../images/knopka.png);
	width:				29px;
	height: 			25px;
	text-align: 		center;
	padding-top: 		4px;
	color:				#FCBA57;
	font-family: 		'Times new roman', serif;
	font-size: 			18px;
	font-weight: 		bold;
}

.icona_vpodarok2 img{
	border:				2px solid #BC803A;
}

.vlist1_left{
	float:				left;
	width:				25%;
	margin-right:		34px;
}

.vlist_11{
	margin-top:			30px;
	
}

.vlist1_left a{
	display:			inline-block;
}

.vlist1_left + p{
	text-align:			left;
	width:				70%;
	display:			inline-block;
	clear:				none;
}

.vlist2_imgs img{
	margin-right:		44px;
	width:				220px;
	height:				204px;
}

.vlist2{
	overflow:			hidden;
	padding-bottom:		60px;
	border-bottom:		1px solid #D38C32;
}


.vlist3_imgs img{
	width:				210px;
	height:				280px;
	margin-right:		50px;
}

.vlist3{
	padding-bottom:		60px;
	border-bottom:		1px solid #D38C32;
}

.vlist4 p{
	clear:				none;
	float:				left;
	text-align:			left;
	width:				50%;


}

.vlist4{
	overflow:			hidden;
	padding-bottom:		60px;

}

.vlist4_right{
	float:				right;
	width:				45%;
	margin-left:		30px;
}

.vlist4_right img{
	width: 				150px;
	height: 			220px;
	margin-right:		20px;
}

.vlist5_left{
	float:				left;
	width:				70%;
}

.vlist5_left p{
	border-bottom:		1px solid #D38C32;
	margin:				25px 0 0 0;
	padding-bottom:		20px;
}


.vlist5_right{
	float:				right;
	width:				25%;
	margin-left:		15px;
}

.vlist5{
	height:				315px;
}

.vlist6 img{
	width:				200px;
	height:				280px;
	margin-right:		55px;
}


.vnachalo-knopka a{
	position:			relative;
}

.vnachalo-knopka a span{
	position:			absolute;
	background:			url(../images/vverh.png);
	background-size:	100% 100%;
	display:			inline-block;
	width: 				44px;
	height: 			44px;
	top: 				-48px;
	right: 				15px;
}




.kak_sdelat_zakaz{
	width:				40%;
	margin:				0 auto;
}

.kak_sdelat_zakaz td{
	padding:			5px 7px;
	width:				250px;
	text-align:			center;
	background:			#EAC384;
	border:				1px solid #AF804D;
	margin-bottom:		2px;
	border-radius:		7px;
}


p.relative{
	padding-left:		30px;
	position:			relative;
}

p span.knopka_l{
	position: absolute;
left: -9px;
top: -3px;
display: block;
background: url(../images/knopka.png);
width: 29px;
height: 25px;
text-align: center;
padding-top: 4px;
color: #FCBA57;
font-family: 'Times new roman', serif;
font-size: 18px;
font-weight: bold;
}

.vlist6 img{
	margin:			0 25px 0 0;
	padding:		0;
}

.icvpodarok-href img{
	float:			left;
	margin:			0 23px 0 0;
}


.icvpodarok-href{
	display:		inline-block;
}





#side-menu-calendar{
	width: 			250px;
    float: 			left;
    margin-left:	0;
    margin-right:	30px;
}


#icon_of_the_day{
	float:			left;
	width:			290px;
}

#icon_of_the_day p{
	float:			left;
	width:			280px;
	font-size:		13px;
}

#icon_of_the_day div.icon-img{
	float:			left;
	width:			240px;
	margin:			0 0 0 35px;
}

#icon_of_the_day p.icon-day-hed{
	font-family: 'CyrillicOld', serif;
    color: #85010F;
    font-size:		16px;
    margin:			6px 0 0 0;
}


div.icon-img a img{
	display: 		block;
    margin: 		0 auto;
    max-height: 	200px;

}

div.icon-img a{
	display: 		inline-block;
    margin: 		0 auto;
    /* height: 		100%; */
    width: 			100%;
}


a.main-heading{
	font-size: 		21px;
	font-weight: 	bold;
}








#toTop {
    width: 5%;
    border: 1px solid rgba(67, 67, 67, 0.22);
    background: rgba(63, 63, 63, 0.16);
    text-align: center;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    display: none;
    color: #D0D0D0;
    text-decoration: underline;
    font-family: verdana;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
    z-index:99999;
}


#toTop p{
	text-align:	center;
	margin:		20px 0;
	font-size:	13px;
}

#toTop:hover{
	border: 1px solid rgba(67, 67, 67, 0.72);
    background: rgba(63, 63, 63, 0.48);
}



.alfa_img1{
	position:relative;
	top:5px;margin:0 10px;
	width:20px;
	height:20px;
	display: inline;
}



.alfa_img2{
	position:relative;
	top:5px;
	margin:0px;
	width:20px;
	height:20px;
	display: inline;
}



a.inline{
	display:inline;
}

.top-mobile{
	display: none;
}



#open-left{
	display:	none;
}


/* icona v podarok */

ul.vpodarok-icons{
	top:			0;
	left:			0;
	margin:			0;
	padding:		0;
	height:			235px;
	margin-top:		10px;
	position: relative;
    width: 941px;
    left: -35px;
    top: -10px;
    background:		#551400;
    height:			229px;
}


ul.vpodarok-icons li{
	float:			left;
	list-style:		none;
	clear:			none;
	font-family: 'Open Sans', sans-serif;


}

.main_wrapper ul.vpodarok-icons li a{
	display:		block;
	width: 104px;
    font-size: 17px;
    padding: 157px 6px 32px 6px;
    text-align: center;
    color: #D1AF65;
    text-decoration:	none;
    font-weight:	normal;
    -webkit-font-smoothing: antialised;
    background-size:	100% 100%;


}


.main_wrapper ul.vpodarok-icons li.podarok3 a{
	font-size:		15px;
	font-weight:	normal;
	padding-bottom: 18px;
}
.main_wrapper ul.vpodarok-icons li.podarok4 a{
	font-size:		14px;
	font-weight:	normal;
	padding-bottom: 21px;
}
.main_wrapper ul.vpodarok-icons li.podarok7 a{
	font-size:		14px;
	font-weight:	normal;
	    padding-bottom: 21px;
}

li.podarok1 a{
	background:		url(../images/Iconi-christ1.jpg) no-repeat;
}
li.podarok2 a{
	background:		url(../images/Iconi-christ2.jpg) no-repeat;
}
li.podarok3 a{
	background:		url(../images/Iconi-christ3.jpg) no-repeat;
}
li.podarok4 a{
	background:		url(../images/Iconi-christ4.jpg) no-repeat;
}
li.podarok5 a{
	background:		url(../images/Iconi-christ5.jpg) no-repeat;
}
li.podarok6 a{
	background:		url(../images/Iconi-christ6.jpg) no-repeat;
}
li.podarok7 a{
	background:		url(../images/Iconi-christ7.jpg) no-repeat;
}
li.podarok8 a{
	background:		url(../images/Iconi-christ8.jpg) no-repeat;
}


li.podarok1 a:hover{
	background:		url(../images/Iconi-christ1-dis.jpg) no-repeat;
}
li.podarok2 a:hover{
	background:		url(../images/Iconi-christ2-dis.jpg) no-repeat;
}
li.podarok3 a:hover{
	background:		url(../images/Iconi-christ3-dis.jpg) no-repeat;
}
li.podarok4 a:hover{
	background:		url(../images/Iconi-christ4-dis.jpg) no-repeat;
}
li.podarok5 a:hover{
	background:		url(../images/Iconi-christ5-dis.jpg) no-repeat;
}
li.podarok6 a:hover{
	background:		url(../images/Iconi-christ6-dis.jpg) no-repeat;
}
li.podarok7 a:hover{
	background:		url(../images/Iconi-christ7-dis.jpg) no-repeat;
}
li.podarok8 a:hover{
	background:		url(../images/Iconi-christ8-dis.jpg) no-repeat;
}


.site-head{
	text-align:		center;
}


div p.name-icon,div p.name-saint{
	font-size:		14px;
}

.chd span{
	margin:			8px;
}


div.icon-img{
	    width: 250px;
    float: left;
    padding-top: 20px;
}



li.ul-wr{
	position:	relative;
}


ul.deep{
	position:	absolute;
	left:		-9999px;
	background:	rgba(28, 23, 23, 0.83);
	padding:	0 10px;
	width:		230px;
	border-radius:0 6px 6px 6px;
}

ul.deep li{
	display: block
}

ul.deep li a:hover{
	background:none;
	text-shadow:1px 1px 1px #939393;
	color: #E4C479;
}

li.ul-wr:hover ul{
	left:		-10px;
}

.kontakty{
	width:		200px;
	cursor: 		pointer;
	max-width:	inherit;
	position:	absolute;
}

.kontakty:focus{
	width:		450px;

}









ol.al{
	position:	relative;
}


li.alfa-bet{
	position:	absolute;
	width: 		95%;
    text-align: center;
    top:		-150px;

}

ol.al li.alfa-bet a{
    font-family: 'CyrillicOld', serif;
    color: 		#85010F;
    padding:	2px;
    margin-right:7px;
}

ol.al li.alfa-bet a:hover{
	background:	#85010F;
	color:		#DDB860;
}

#tabs-list{
	margin-top:	60px;
	margin-bottom:40px;
	background:	url(../images/alf.jpg) no-repeat;
	background-size:	100% 100%;
	padding:	3px;
    width:			837px;
}


#tabs-list li{
	list-style:	none;
	float:		left;
	clear:		none;
	text-align:	center;
	font-family: 'Open Sans', sans-serif;
}


#tabs-list li a{
	color:		#5E3700;
	text-decoration:none;
	display:	block;
	padding:	15px 17px;
	line-height:9px;
	-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


#tabs-list li.tab1 a{
	padding:	15px 10px;
}

#tabs-list li a.current{
	background:	#85010F;
	color:		#DDB860;
}

#tabs-list li a:hover{
	background:	#85010F;
	color:		#DDB860;
}




.news-icon{
	margin-top: 50px;
}

.news-row img{
	float:		left;
	margin: 5px 20px 30px 0;
}

.news-row p{
	clear:		none;
}




.main_wrapper ul.vpodarok-icons li.podarok8 a{
	width:		116px;
}