.quickcheckout-heading {
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
    background: #e4c479;
    padding: 10px;
}
.quickcheckout-content {
    border: 1px solid #9d7752;
    padding: 10px;
    overflow: auto;
    margin-bottom: 10px;
}
.or {
    text-align: center;
    width: 100%;
    font-size: 24px;
}
.hide {
    display: none !important;
}
#quickcheckoutconfirm .col-sm-6 {
    float: none !important;
    display: inline-block !important;
    width: 49% !important;
    vertical-align: top;
}
table.quickcheckout-cart {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #9d7752;
    border-left: 1px solid #9d7752;
    border-right: 1px solid #9d7752;
}
.quickcheckout-cart thead td {
    background-color: #e4c479;
    border-bottom: 1px solid #9d7752;
    color: #4D4D4D;
    font-weight: bold;
    text-align: left;
    padding: 7px;
}
.quickcheckout-cart tbody td {
    border-bottom: 1px solid #9d7752;
    vertical-align: top;
    padding: 7px;
}
.quickcheckout-cart td.image {
    width: 10%;
    text-align: center;
}
.quickcheckout-cart td.image img {
    border: 1px solid #9d7752;
}
.quickcheckout-cart td.name {
    width: 30%;
    text-align: left;
}
.quickcheckout-cart td.quantity {
    width: 20%;
    text-align: left;
    min-width: 150px !important;
}
.quickcheckout-cart td.quantity > img, .quickcheckout-cart td.quantity > a {
    position: relative;
    top: 4px;
    cursor: pointer;
}
.quickcheckout-cart td.price {
    text-align: right;
    width: 20%;
}
.quickcheckout-cart td.total {
    width: 20%;
    text-align: right;
    padding-right: 10px;
}
#voucher-heading {
    color: #85010f;
    background: #e4c479;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}
#coupon-heading {
    color: #85010f;
    background: #e4c479;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}
#reward-heading {
    color: #85010f;
    background: #e4c479;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}
#voucher-content {
    display: none;
}
#coupon-content {
    display: none;
    margin-bottom:15px;
}
#reward-content {
    display: none;
    margin-bottom:15px;
}
.checkout-content {
    display: block !important;
}
.fa-5x {
    font-size: 5em !important;
}
/* Custom themes may need this */
/*
select {
        width: 100%;
}
.text-right {
        text-align: right;
}
.text-left {
        text-align: left;
}
.text-center {
        text-align: center;
}*/

.quickcheckout-content img {
    margin:0;
}